.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

p{ 
  fontFamily: 'Marcellus, serif'
}

@media screen and (max-width: 768px) {
    .about{
      height: 30vh;
    }
}
