.home img{
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 600px;
}

.banner-text{
  padding-top: 200px;
  text-align: center;
}
p{
font-family: 'Nanum Gothic', sans-serif; 
}