.banner-image{
  background-image: url('./img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.banner-text{
  padding-top: 200px;
  text-align: center;
}
p{
font-family: 'Nanum Gothic', sans-serif; 
}