.banner-image{
  background-image: url('https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.banner-text{
  padding-top: 200px;
  text-align: center;
}
p{
font-family: 'Nanum Gothic', sans-serif; 
}