.navbar-brand {
  background-color: white;
  font-family: 'Passions Conflict', cursive;
  font-size: 40px;
}
nav {
  background-color: #3BAEEA;
}
.nav-link {
  color:black !important;
  font-family: 'Alkalami', serif !important;
  text-align: right !important;
  /* padding-left: 50px !important; */

}
.navbar-nav {
  padding-left: 500px;
}


