.navbar-brand {
  background-color: white;
  font-family: 'Passions Conflict', cursive;
  font-size: 45px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 30px;
  
}
nav {
  /* background-color: #3BAEEA; */
  background-color: white;
}
.nav-link {
  color:black !important;
  /* font-family: 'Alkalami', serif !important;
   */
   font-family: 'Nanum Gothic', sans-serif !important;
  text-align: right !important;
  /* padding-left: 50px !important; */

}
.navbar-nav {
  padding-left: 500px;
}
span {
  padding: 5px;
}
.aligned {
  display: flex;
  align-items: center;
}
.navbar-toggler-icon{
  border-color:black !important;
}
@media screen and (max-width: 1015px) {
  .top-nav {
    display: none;

  }
}




