.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
 .card {
  padding-top: '40px';
  border: none;
 }
 p{
  fontFamily: 'Marcellus, serif'
 }
 .left-stationery{
  width: 50%;
  min-height: 280px;
  background: url('https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80')no-repeat center/cover;
  border-radius: 8px;

 }
 .right-stationery{
  width: 50%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 8px;
    margin-left: 150px;
    margin-top: -200px;
    background-color: #eaf9ee;
 }

 .left-feeds{
  width: 50%;
  min-height: 280px;
  background: url('https://images.pexels.com/photos/1153756/pexels-photo-1153756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat center/cover;
  border-radius: 8px;

 }
 .right-feeds{
  width: 50%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 8px;
    margin-left: 150px;
    margin-top: -200px;
    background-color: #eaf9ee;
 }
 /* https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80 */

 .left-computer{
  width: 50%;
  min-height: 280px;
  background: url('https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80')no-repeat center/cover;
  border-radius: 8px;

 }
 .right-computer{
  width: 50%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 8px;
    margin-left: 150px;
    margin-top: -200px;
    background-color: #eaf9ee;
 }

 .left-furniture{
  width: 50%;
  min-height: 280px;
  background: url('https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')no-repeat center/cover;
  border-radius: 8px;

 }
 .right-furniture{
  width: 50%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 8px;
    margin-left: 150px;
    margin-top: -200px;
    background-color: #eaf9ee;
 }
 @media screen and (max-width: 768px) {
  .card-body{
    margin-left: 40px;
  }
 
 }
 @media screen and (max-width: 990px), (min-width: 768px) {

  .right-furniture {
    width: 50%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:30px;
      border-radius: 8px;
      margin-left: 50px;
      margin-top: -200px;
      background-color: #eaf9ee;
  }

  .right-computer{
    width: 50%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:30px;
      border-radius: 8px;
      margin-left: 50px;
      margin-top: -200px;
      background-color: #eaf9ee;
   }
 }